.answer{
    display: flex;
    height: 70px;
    margin: 5px;
    width: 80%;
    min-width: 500px;
    perspective: 1000px;
}

.content{
    display: flex;
    flex: 1;
    position: relative;
    transition: transform 0.8s;
    /*  para preservar o 3d, mostrar o resultado */
    transform-style: preserve-3d;
}

.content.answerRevealed{
    transform: rotateY(180deg);
}

.letter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}

.value{
    font-size: 1rem;
    font-weight: bold;
}

.front, .back{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    /* As propriedades abaixo sao para indicar que tem um lado de tras */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front{
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    color: #000;
    background-color: #fff;
}

.back{
    transform: rotateY(180deg);
}

.back > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.right{
    background-color: #2baa6d;
}

.wrong{
    background-color: #e44a4c;
}

.right .value, .wrong .value{
    font-size: 1.5rem;
}